body,
html {
  width: 100%;
  min-height: 100%;
}
.main {
  width: 100%;
  height: calc(100vh - 56px);
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.box h2 {
  text-align: center;
}
.btn-random {
  background-color: #333;
  color: #fff;
}
